<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronainfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoronaInfo">
        <activity android:name=".Impact_On_Economy"></activity>
        <activity android:name=".Activity_Goverments_Reaction" />
        <activity android:name=".Activity_Hystory_Of_Covid" />
        <activity android:name=".Activity_About_New_variant_of_Covid19" />
        <activity android:name=".Activity_About_Covid19" />
        <activity android:name=".Activity_Hygiene_Measurs" />
        <activity android:name=".Activity_Rummors_Cleared" />
        <activity android:name=".Activity_Medical_Advice" />
        <activity android:name=".Activity_Symptoms" />
        <activity android:name=".Activity_Vaccine" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>